version: "2"

services:

  retail-logs-utility:
    container_name: retail-logs-utility
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3006:3006"

  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    container_name: nginx-service
    depends_on:
      - retail-logs-utility
    expose:
      - 80
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot

  certbot:
    image: certbot/certbot
    restart: "always"
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
